symbols.h
symbols.gdb
symbols.4th
TAGS
cachegrind.*
gmon.out
platform.h
stubforth.c
.rev.h
*.log
words.*
*.s
*.o
stubforth
*.bin
*.srec
*.brec
*.elf
flashload
core
builtin.4th
stubforth.flash
symbols.4th
symbols.h
upx
